language: node_js

node_js:
- "node"
install:
- yarn
script:
- yarn run build

cache: yarn

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  on:
    branch: master
  local-dir: public
  repo: viccrubs/viccrubs.github.io
  fqdn: viccrubs.tk
  target-branch: master
