@import "../../../styles/variables.scss";

.article-item {

  margin-bottom: 24px;

  &__header {

    color: $gray-200;
    font-size: 32px;
    padding: 4px 0;
  }

  &__excerpt {
    color: $body-color;
  }
}
