
@import "./bootswatch.scss";
@import "./variables.scss";

// Markdown defaults

.markdown {

  table {
    @extend .table;
  }

  blockquote {
    @extend .blockquote;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
    padding-bottom: 0.3em;

    &::before {
      content: "# ";
      color: $info;
    }
  }

  h1 {
    font-size: 2.2em;
    margin: 12px 0;
    border-bottom: 1px solid lightgray;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }
}

.dropdown h6 {
  color: $black;
}

.icons {
  margin-top: -2px;
  margin-right: 4px;
}

.active {
  .nav-link {
    color: $info !important;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link.active {
      color: $info;
    }
  }
}

.list-group-header {
  background-color: $card-cap-bg;
}

#friendscard-wanted {
  color: $info;
  cursor: pointer;
}

.nonewcontent {
  display: none;
}

.line-numbers-rows {
  margin-top: 14px;
  padding-left: 8px;
}
