// Markdown defaults

@import "./bootswatch.scss";
@import "./variables.scss";

.markdown {
  table {
    @extend .table;
  }

  blockquote {
    @extend .blockquote;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
    padding-bottom: 0.3em;
  }

  h1 {
    font-size: 2.2em;
    margin: 12px 0;
    border-bottom: 1px solid lightgray;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }
}

.dropdown h6 {
  color: $black;
}

.icons {
  margin-top: -2px;
  margin-right: 4px;
}

  .active {
    .nav-link {
      color: $info !important;
    }
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link.active {
        color: $info;
      }
    }
  }


.newcontentpop {
  position: fixed;

  left: 50%;
  transform: translate(-50%, -50%);

  animation: popenter 0.5s forwards;
  z-index: 2000;
  background-color: white;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 16px;


}
.no-display {
  display: none;
}



@keyframes popenter {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}
